:host {
  --primary-color: #003e59;
  --primary-color-gradient: #40bcd6;
  --secondary-color: #ffd700;
  --accent-color: #ff8c00;
  --background-color: #f5deb3;
  --text-color: #333333;
  --theme-em-gradient-button: linear-gradient(
    90deg,
    #ff8c00,
    #ffd700 50%,
    #ff8c00
  );
  --span-overlay-color: #00ff31;
  --wavy-text-body-bg-color: #c44569;
  --text-body-color: #fff;
  --wavy-text-font-family: "Fascinate Inline", sans-serif;
  --wavy-text-animation-speed: 1s;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 25px;
  padding: 25px;
  background-color: rgba(211, 211, 211, 0.123);
}

.product-card {
  background: #fff;
  //border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  }

  .product-link {
    text-decoration: none;
    color: inherit;
    display: block;
  }

  .product-image-container {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .product-image {
      height: 210px;
      width: 180px;

      object-fit: cover;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }

    .product-promotion {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: var(--accent-color);
      padding: 5px 10px;
      border-radius: 4px;
      color: #fff;
      font-size: 0.9rem;
      font-weight: bold;
    }
  }

  .product-info {
    padding: 16px;
    background: (0 0 0 / 4%);

    .product-name {
      font-size: 1.3rem;
      margin: 10px 0;
      color: var(--primary-color);
    }

    .product-details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: normal;
      margin: 10px 0;
      font-size: 0.9rem;
      color: var(--text-color);

      .product-volume {
        font-weight: bold;
        color: var(--primary-color);
      }

      .product-alcohol-content {
        color: var(--accent-color);
      }
    }

    .product-price-rating {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 0;

      .price-container {
        display: flex;
        align-items: center;
        gap: 10px;

        .original-price {
          text-decoration: line-through; // Barrer le prix original
          color: #666; // Couleur grise pour le prix barré
          font-size: 0.9rem;
        }

        .discounted-price {
          color: #e74c3c; // Couleur rouge pour le prix réduit
          font-size: 1.2rem;
          font-weight: bold;
        }
      }

      .product-price {
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--primary-color);
      }

      .product-rating {
        display: flex;
        align-items: center;
        gap: 5px;

        .stars {
          color: var(--accent-color);
        }

        .reviews {
          font-size: 0.9rem;
          color: var(--text-color);
        }
      }
    }

    .add-to-cart-button {
      width: 100%;
      padding: 10px;
      background: var(--primary-color);
      color: var(--text-body-color);
      border: none;
      //border-radius: 6px;
      font-size: 1rem;
      cursor: pointer;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}
