<div class="sort-options">
    <label for="sort">Trier par :</label>
    <select id="sort" (change)="sortProducts($event)">
        <option value="name">Nom</option>
        <option value="price">Prix</option>
        <option value="discountedPrice">Prix réduit</option>
        <option value="volume">Volume</option>
        <option value="alcoholContent">Taux d'alcool</option>
    </select>
</div>

<div class="product-list">
    @for (product of products; track product.id) {
    <div class="product-card">
        <a [routerLink]="product.link" class="product-link">
            <div class="product-image-container">
                <img [src]="product.image" [alt]="product.name" class="product-image" />
                @if (product.promotion) {
                <div class="product-promotion">
                    <span class="discount-badge">-{{ product.discountPercentage }}%</span>
                </div>
                }
            </div>
            <div class="product-info">
                <h3 class="product-name">{{ product.name }}</h3>
                <div class="product-details">
                    <span class="product-volume">📏 {{ product.volume }}</span>
                    <span class="product-alcohol-content">🍾 {{ product.alcoholContent }}% vol.</span>
                </div>
                <div class="product-price-rating">
                    @if (product.promotion) {
                    <div class="price-container">
                        <p class="original-price">{{ product.price | currency:'EUR' }}</p>
                        <p class="discounted-price">{{ calculateDiscountedPrice(product) | currency:'EUR' }}</p>
                    </div>
                    } @else {
                    <p class="product-price">{{ product.price | currency:'EUR' }}</p>
                    }
                </div>
                <button class="add-to-cart-button">Ajouter au panier</button>
            </div>
        </a>
    </div>
    }
</div>