.carousel {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.slides {
  position: relative;
  height: 100%;
}

.slide {
  min-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
  animation: fadeZoomSlideIn 1s ease-in-out;
}

@keyframes fadeZoomSlideIn {
  0% {
    opacity: 0;
    transform: scale(1.25) translateY(10px); /* Zoom réduit + décalage vers le bas */
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0); /* Taille normale + position normale */
  }
}

.slide img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.caption {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  animation: 0.8s ease-in-out;

  &:hover {
    transform: translateY(-50%) scale(1.3);
  }
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.indicator.active {
  background-color: white;
}
