<div class="about-section">
    <h2>À propos de nous</h2>
    <div class="about-content">
        <img src="/about.webp" alt="Entrepôt Alcool Dépôt Vente">
        <div class="about-text">
            <p>
                Bienvenue chez <strong>Alcool Dépot Vente</strong>, votre dépôt-vente d’alcool avec livraison rapide sur
                Paris et l’Île-de-France.
                Nous proposons une large sélection de boissons, allant du whisky au champagne, en passant par la vodka
                et le
                vin.
            </p>
            <p>
                Notre service est particulièrement apprécié par les <strong>étudiants et BDE</strong>, grâce à notre
                réactivité
                et nos prix compétitifs.
                De plus, nous contribuons à réduire le gaspillage en récupérant et revalorisant nos invendus.
            </p>
            <p>
                Commandez dès maintenant et recevez vos bouteilles rapidement pour vos soirées et événements !
            </p>
        </div>
    </div>
</div>