/* You can add global styles to this file, and also import other style files */
//@import "~@fortawesome/fontawesome-free/css/all.min.css";

*,
body {
  font-family: "Be Vietnam Pro", sans-serif;
  font-family: "Poppins", Arial, sans-serif;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  margin-top: 50px;
  background-color: var(--primary-color-gradient);
}

:root {
  /** --primary-color-blue: #003e59; **/
  --primary-color-gradient: #40bcd6;

  --primary-color: #003e59;

  --primary-color: rgb(73, 10, 10);

  /** --primary-color: #003e59; **/
  /** --primary-color-gradient: #ff8c009a; **/
  --primary-color-gradient: #40bcd6;
  /** --primary-color-gradient: rgb(70, 42, 42); **/

  --span-overlay-color: #00ff31;

  --secondary-color: #ffd700;
  --accent-color: #ff8c00;
  --background-color: #f5deb3;
  --text-color: #333333;

  --wavy-text-body-bg-color: #c44569;
  --wavy-text-body-color: #fff;
  --wavy-text-font-family: "Fascinate Inline", sans-serif;
  --wavy-text-animation-speed: 1s;
}
