@mixin respond-to($breakpoint) {
  @if $breakpoint == small-mobile {
    @media (max-width: 374px) {
      @content;
    }
  } @else if $breakpoint == mobile {
    @media (min-width: 375px) and (max-width: 424px) {
      @content;
    }
  } @else if $breakpoint == large-mobile {
    @media (min-width: 425px) and (max-width: 767px) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (min-width: 768px) and (max-width: 1023px) {
      @content;
    }
  } @else if $breakpoint == small-desktop {
    @media (min-width: 1024px) and (max-width: 1279px) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (min-width: 1280px) {
      @content;
    }
  } @else {
    @warn "Le point de rupture '#{$breakpoint}' n'est pas reconnu.";
  }
}

#commitments {
  margin: 60px 15px;

  /* Titre de la section */
  .section-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: var(--secondary-color);
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    left: 20px;
    margin-bottom: 35px;

    &::before {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      height: 4px;
      width: calc(3ch + 0.2em);
      background-color: var(--secondary-color);

      @include respond-to(tablet) {
        height: 6px;
        bottom: -5px;
      }

      @include respond-to(desktop) {
        height: 6px;
        bottom: -5px;
      }
    }

    @include respond-to(tablet) {
      font-size: 28px;
      letter-spacing: 4px;
    }

    @include respond-to(small-desktop) {
      font-size: 28px;
      letter-spacing: 4px;
    }

    @include respond-to(desktop) {
      font-size: 32px;
      letter-spacing: 4px;
    }
  }

  /* Conteneur des engagements */
  .commitments-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;

    @include respond-to(mobile) {
      padding: 0;
    }
  }

  /* Carte d'engagement */
  .commitment-item {
    background-color: rgba(
      8,
      8,
      8,
      0.815
    ); // Couleur de fond similaire à la FAQ
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease,
      background-color 0.3s ease;
    overflow: hidden; // Pour éviter les débordements lors des animations

    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      background-color: rgba(8, 8, 8, 0.9); // Assombrir légèrement le fond
    }

    /* Icône */
    .commitment-icon {
      font-size: 32px;
      color: var(--accent-color); // Utilisez votre variable de couleur
      margin-bottom: 16px;
      transition: transform 0.3s ease, color 0.3s ease;
    }

    /* Titre */
    .commitment-title {
      font-size: 16px;
      font-weight: bold;
      margin: 0;
      color: var(--accent-color); // Utilisez votre variable de couleur
      transition: color 0.3s ease;

      @include respond-to(desktop) {
        font-size: 18px;
      }
    }

    /* Description */
    .commitment-description {
      font-size: 14px;
      color: var(--text-body-color); // Utilisez votre variable de couleur
      margin: 0;

      @include respond-to(desktop) {
        font-size: 16px;
      }
    }

    /* Effets de survol */
    &:hover .commitment-icon {
      color: var(--secondary-color); // Changement de couleur au survol
      transform: scale(1.2); // Légère mise à l'échelle de l'icône
    }

    &:hover .commitment-title {
      color: var(--secondary-color); // Changement de couleur au survol
    }
  }
}
